form input {
  width: 540px;
  margin: 20px 0;
  font-size: 24px;
}

.content {
  width: 600px;
  height: 215px;
  padding: 10px 20px;
  line-height: 1.1em;
  font-size: 36px;
  border: 2px solid #ccc;
  overflow-y: hidden;
  display: inline-block;
  margin: 40px;
}

.container {
  padding: 10px 50px;
}

.right {
  color: green;
}

.wrong {
  color: red;
}